<!DOCTYPE html>
<html lang="en">
  <style>
      

  </style>



  <head>
    <title>Sir Paul</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'profile.css')}}">
    <link rel="icon" type="image/jpg" href="\static\a.jpg" />
  </head>


  <body>
    <h1 >About Sir Paul</h1>
    <br>
    <div class="center">
      <img src="\static\b.jpg" alt= 'b.jpg' width="500" height="500">
    </div>
    <br>
    
    <p>Originally from Zimbabwe. He is passionate about computers. For some
      reason, the computer always did what he told it. The common misconception is
      that the computer does what you want. After years of playing with and learning
      the computer, he finally got to know that it only does what you tell it to. That is
      key! The ability to know what to what the machine to do and how to tell it to do
      exactly that!</p>

    <br>
    <br>
    <div class="row">
      <div class="column" style="float: left">
        <img src="\static\c.jpg" alt= 'c.jpg' width="500" height="500">
      </div>
      <div class="column" >
        <img src="\static\d.jpg" alt= 'd.jpg' width="500" height="500">
      </div>
      <div class="column">
        <img src="\static\a.jpg" alt= 'a.jpg' width="500" height="500">
      </div>
    </div> 
      
  </body>
</html>